  <header class="header">

    <div class="header-top">
      <div class="container">

        <ul class="contact-list">

          <li class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>

            <a href="mailto:udayram8425@gmail.com.com" class="contact-link">udayram8425@gmail.com</a>
          </li>

          <li class="contact-item">
            <ion-icon name="call-outline"></ion-icon>

            <a href="tel:+91 6301534168" class="contact-link">+91-630-153-4168</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="https://www.linkedin.com/in/uday-kumar-reddy-ragipindi-579769329/" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>


          <li>
            <a href="https://www.facebook.com/profile.php?id=100075203725418" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/uday_ram23/" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://x.com/R73340Uday" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/@udayram2924" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

    <div class="header-bottom" data-header>
      <div class="container">

        <a href="{% url 'homebase' %}" class="logo">Medico</a>

        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li>
              <a href="{% url 'home' %}" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li>
              <a href="{% url 'services' %}" class="navbar-link" data-nav-link>Services</a>
            </li>

            <li>
              <a href="{% url 'aboutus' %}" class="navbar-link" data-nav-link>AboutUs</a>
            </li>

            <li>
              <a href="{% url 'doctors' %}" class="navbar-link" data-nav-link>Doctors</a>
            </li>

            <li>
              <a href="{% url 'departments' %}" class="navbar-link" data-nav-link>Departments</a>
            </li>

            <li>
              <a href="{% url 'contact' %}" class="navbar-link" data-nav-link>Contact</a>
            </li>


          </ul>
        </nav>

        <a href="{% url 'book' %}" class="btn">Login</a>

        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>

      </div>
    </div>

  </header>